<main >
    <section id="img" >
      <img src="https://i5.walmartimages.com/seo/PIXMA-TS3522-Wireless-All-In-One-Printer_35f49485-5a95-4c4d-b297-2634dbd3a602.17430f77bdc3370056e2bc3d7bcabb48.jpeg" alt="">
    </section>
    <section id="detail" >
        <h1>{{detail?.name}}</h1>
        <p style="color: rgb(200, 200, 200);">{{detail?.category}} | {{detail?.subcategory}}</p>
        <p>{{detail?.description}}</p>
        <p style="color:orange; font-size: 40px; margin-top: 10px;"><span style="font-size: 30px;">฿</span>{{detail?.price}}</p>
        <p>Available  {{detail?.quantity}} pieces</p>
        <div style="width: 90%;  display: flex;" id="btn-box">

          <button>Add in cart</button>
        </div>

    </section>
</main>



