
<app-nav-bar/>
<section style="display: flex; ">
  <section id="sidebar" >
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit qui sint eligendi culpa. Nisi in autem omnis odio ipsa delectus nihil eveniet velit. Iste totam esse fugiat minima laborum sed sequi, voluptates possimus tempore nihil praesentium cum quo sit obcaecati nulla similique hic corrupti natus voluptate numquam fuga eos, molestiae porro. Minima, magnam? Doloremque quos repellat esse repellendus laudantium nulla enim,<span id="span"> Lorem ipsum dolor sit amet.</span> cumque </p>
    <app-comp2 [productName]="'test send message'" [price]="10"  (notify)="alert($event)" ></app-comp2>
    <input type="text" [(ngModel)]="message" (ngModelChange)="onInputChange()">
    <input type="text" [ngModel]="message">
    {{message}}
  </section>
  <main >
    <router-outlet/>
  </main>
</section>



