nav {
  top: 0;
  z-index: 10;
  position: sticky;
  background-color: white;
  font-family: sans-serif, "Gill Sans";
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(235, 181, 139);
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  display: block;
  border-radius: 5px;
}

span {
  background-color: transparent;
}

a:hover {
  color: rgb(255, 145, 0);
}

.active {
  background-color: rgb(196, 88, 0);
  color: white;
}
