
<main>
    
    <section>
        <div class="top">
            <div class="btn" (click)="onSalesClick($event)" >
                <mat-icon >
                    dashboard
                    </mat-icon>
                <div  >Dashboard</div>
            </div>
            <div class="btn" (click)="onOrdersClick($event)">
                <mat-icon >
                    shopping_cart
                    </mat-icon>
                <div >Orders</div>
            </div>
            <div class="btn">
                <mat-icon >
                    shopping_bag
                    </mat-icon>
                    <div >Product</div>
            </div>
            <div class="btn">
                <mat-icon >
                    person
                    </mat-icon>
                    <div >Customer</div>
            </div>
            <div class="btn">
                <mat-icon >
                    payments
                    </mat-icon>
                
                <div >Payment</div>
            </div>
            
        </div>
        <div class="buttom">
            <div class="btn">
                <mat-icon >
                    help
                    </mat-icon>
                <div >Help</div>
            </div>
            
        </div>
        
    </section>
    <div id="main">
        <div *ngIf="showSalesChart" id="chart" #chartRef>

        </div>

        <div *ngIf="!showSalesChart">
            <div id="head" style="display: flex; gap: 1px; align-items: center;">
                <h2 >HIGHLIGHTS</h2>
                <h2 (click)="sortDataByTotal()">    
                    <mat-icon id="filter" >filter_list</mat-icon>
                    
                </h2>
                <select [(ngModel)]="selectedSortOption" >
                    <option value="ascending">Sort: Min to Max</option>
                    <option value="descending">Sort: Max to Min</option>
                </select>
            </div>
            
            <div *ngFor="let a of cart['carts'] " id="cart" >
 
                    <h1>{{(a['id'] |json) }}</h1>
                    <h1>Userid : {{(a['userId'] |json) }}</h1>
               
    
                    <h1>Discounted Total {{(a['discountedTotal'] |currency) }}</h1>
                    <h1>Total {{(a['total'] |currency) }}</h1>
 
                   
            </div>
        </div>
    </div>
    
</main>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">






    

